html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.leaflet-div-icon {
    @apply bg-transparent border-none p-0 m-0;
    width: auto !important;
    height: auto !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;